
<%- include('./partials/header') %>  

<a href="/blog/new">New</a>

<h1>I am index page</h1>
<% for(let item of blogs){ %>
    <h1> <%=item.id %></h1>
    <h2> <%=item.comment %></h2>
    <p> <%=item.author %></p>
    <a href="/blogs/<%=item.id%>">Show me</a>
    <a href="/blogs/<%=item.id%>/edit">Edit me</a>
    <form action="/blogs/<%=item.id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
<% } %>


<%- include('./partials/footer') %> 