
<%- include('./partials/header') %>  

<h1>I am a particular page</h1>

    <div>
        <h1> <%=returnedItem.id %></h1>
        <h2> <%=returnedItem.comment %></h2>
        <p> <%=returnedItem.author %></p>
        <a href="/blogs">back</a>
    </div>

<%- include('./partials/footer') %> 