<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Movies</h1>
 
    <% for(let item of allMovies){ %>
        <h1>Name : <%=item.name %></h1>
        <h1>Actor : <%=item.actor %></h1>
        <h1>IMDB : <%=item.imdb %> </h1>
        <h1>YEAR : <%=item.year %> </h1>
        <h1>IS-WATCHED : <%=item.isWatched %> </h1>
    <% } %>

</body>
</html>